<form (ngSubmit)="save()"
  #goalEditForm="ngForm">
  <label for="goalCost">
    How much did it ultimately cost?
  </label>
  <span class="dollar-input">
    <input
      #goalCost
      name="goalCost"
      type="number"
      [(ngModel)]="cost"
      step="0.01"
      pattern="^\d+(?:\.\d{1,2})?$"
      required>
  </span>

  <button
    type="submit"
    [disabled] = "!goalEditForm.form.valid">
    Purchase
  </button>
  <button (click)="cancel($event)">
    Cancel
  </button>

  <p *ngIf="exceedAccrued()">
    The cost is greater than the goal's currently saved balance. The difference will count against the total amount saved, and this goal will be kept active until the saved balance reaches the purchase cost.
  </p>
  <p *ngIf="impedeGoal()">
    Purchasing will reduce this budget's total saved amount available to be less than the amount already allocated for at least one other goal, and may prevent being able to purchase that goal or goals temporarily.
  </p>
  <p *ngIf="exceedTotalBalance()">
    <em>Note:</em> The cost is greater than this budget's total saved amount available.
  </p>
</form>
