<form (ngSubmit)="save()"
  #goalEditForm="ngForm">
  <label for="goalCost">
    How much did it ultimately cost?
  </label>
  <span class="dollar-input">
    <input
      id="goalCost"
      name="goalCost"
      type="number"
      [(ngModel)]="cost"
      step="0.01"
      pattern="^\d+(?:\.\d{1,2})?$"
      required>
  </span>

  <button
    type="submit"
    [disabled] = "!goalEditForm.form.valid">
    Purchase
  </button>
  <button (click)="cancel($event)">
    Cancel
  </button>

  <p *ngIf="exceedAccrued() && !impedeGoal()">
    The cost is greater than this goal's currently saved balance, purchasing will safely borrow the difference from other goals.
  </p>
  <p *ngIf="impedeGoal()">
    This cost is greater than this goal's currently saved balance, and the difference cannot safely be borrowed from other goals. Purchasing at this cost may delay other goals, even after they are fully funded.
  </p>
  <p *ngIf="exceedAccrued()">
    After purchasing this goal will be kept active until its balance reaches the purchase cost.
  </p>
  <p *ngIf="exceedTotalBalance()">
    <em>Note:</em> The cost is greater than the available amount saved for this budget.
  </p>
</form>
