<form (ngSubmit)="save()"
  #goalEditForm="ngForm">
  <label for="goalName">
    Name
  </label>
  <input
    id="goalName"
    name="goalName"
    type="text"
    placeholder="Name"
    [(ngModel)]="name"
    required>

  <label for="goalTarget">
    Target
  </label>
  <span class="dollar-input">
    <input
      id="goalTarget"
      name="goalTarget"
      type="number"
      [(ngModel)]="target"
      step="0.01"
      pattern="^\d+(?:\.\d{1,2})?$"
      required>
  </span>

  <div *ngIf="!this.goal?.purchased">
    <strong>Goal Behavior</strong>
    <br />
    <input id="goalBehaviorDefault" type="radio" [(ngModel)]="behavior" name="goalBehavior" value="">
    <label for="goalBehaviorDefault"
      title="By default, goals will loan other goals funds safely, in a way that they can be purchased once fully funded">
      Normal ⓘ
    </label>
    <br />
    <input id="goalBehaviorEarmarked" type="radio" [(ngModel)]="behavior" name="goalBehavior" value="EARMARKED">
    <label for="goalBehaviorEarmarked"
    title="Earmarked goals are placed above Normal goals in the budget and will preemptively reserve loans from other goals to simulate that they have been purchased">
      Earmarked ⓘ
    </label>
    <br />
    <input id="goalBehaviorPriority" type="radio" [(ngModel)]="behavior" name="goalBehavior" value="PRIORITY">
    <label for="goalBehaviorPriority"
    title="Priority goals are ranked highest in the budget and do not loan to other goals, but do not preemptively reserve loans like Earmarked goals">
      Priority ⓘ
    </label>
    <br />
    <input id="goalBehaviorPaused" type="radio" [(ngModel)]="behavior" name="goalBehavior" value="PAUSED">
    <label for="goalBehaviorPaused"
      title="Paused goals are skipped when adding funds, but will continue to safely loan funds they already have to other goals">
      Paused ⓘ
    </label>
  </div>

  <button
    type="submit"
    [disabled] = "!goalEditForm.form.valid">
    Save
  </button>
  <button (click)="cancel($event)">
    Cancel
  </button>

  <div *ngIf="goal && target && target * 100 < goal.current">
    Target is below the goal's current progress - on save the difference will be distributed to other goals.
  </div>
</form>

<p *ngIf="goal && goal.created !== undefined">
  Created: {{goal.created | date}}
</p>
<p *ngIf="goal && goal.isPurchased()">
  Purchased: {{goal.purchased | date}}

  <app-action-confirm
    [displayClass]="'button-negative inline'"
    (confirmed)="reversePurchase()"
    prompt="Un-purchase">
  </app-action-confirm>

</p>

<app-action-confirm
  *ngIf="(goal !== undefined) && !goal.isPurchased()"
  [displayClass]="'button-negative'"
  (confirmed)="delete()"
  prompt="Delete">
</app-action-confirm>
