<form (ngSubmit)="save()"
  #goalEditForm="ngForm">
  <label for="goalName">
    Name
  </label>
  <input
    #goalName
    name="goalName"
    type="text"
    placeholder="Name"
    [(ngModel)]="name"
    required>


  <label for="goalTarget">
    Target
  </label>
  <input
    #goalTarget
    name="goalTarget"
    type="number"
    [(ngModel)]="target"
    step="0.01"
    pattern="^\d+(?:\.\d{1,2})?$"
    required>

  <button
    type="submit"
    [disabled] = "!goalEditForm.form.valid">
    Save
  </button>
  <button (click)="cancel($event)">
    Cancel
  </button>

  <div *ngIf="goal && target * 100 < goal.current">
    Target is below the goal's current progress - on save the difference will be distributed to other goals.
  </div>
</form>

<p *ngIf="goal && goal.created !== undefined">
  Created: {{goal.created | date}}
</p>
<p *ngIf="goal && goal.isPurchased()">
  Purchased: {{goal.purchased | date}}

  <app-action-confirm
    [displayClass]="'button-negative inline'"
    (confirmed)="reversePurchase()"
    prompt="Un-purchase">
  </app-action-confirm>

</p>

<app-action-confirm
  *ngIf="(goal !== undefined) && !goal.isPurchased()"
  [displayClass]="'button-negative'"
  (confirmed)="delete()"
  prompt="Delete">
</app-action-confirm>
