<form (ngSubmit)="save()"
  #goalEditForm="ngForm">
  <label for="goalName">
    Name
  </label>
  <input
    #goalName
    name="goalName"
    type="text"
    placeholder="Name"
    [(ngModel)]="name"
    required>


  <label for="goalName">
    Target
  </label>
  <input
    #goalTarget
    name="goalTarget"
    type="number"
    [(ngModel)]="target"
    step="0.01"
    pattern="^\d+(?:\.\d{1,2})?$"
    required>

  <button
    type="submit"
    [disabled] = "!goalEditForm.form.valid">
    Save
  </button>
  <button (click)="cancel($event)">
    Cancel
  </button>

  <div *ngIf="goal && target < goal.current">
      Target is below the goal's current progress - on save the difference will be distributed to other goals.
    </div>
</form>
