<div class="goal-item"
  [ngClass]="{'goal-item-complete': goal.isComplete(),
              'goal-item-funded': goal.isFunded(),
              'goal-item-overdrawn': goal.isOverdrawn(),
              'goal-item-affordable': goalAffordable(),
              'goal-item-earmarked': goal.isEarmarked()}">

  <div class="goal-item-detail-bar">
    <div class="goal-item-detail-content">
      <h2 class="inline">
        {{goal.label}}
      </h2>
      <p class="inline">
          {{ (goal.current / 100) | currency:"USD" }} of {{ (goal.target / 100) | currency:"USD" }} goal
        </p>
    </div>
    <div class="goal-item-controls">
        <button
        *ngIf="!goal.isPurchased()"
        [ngClass]="{'button-active': purchaseMode()}"
        (click)="togglePurchaseMode()">
        Purchase
      </button>
      <button
        *ngIf="goal.isComplete()"
        class="button-negative"
        [ngClass]="{'button-active': archiveMode()}"
        (click)="toggleArchiveMode()">
        Archive
      </button>
      <button
        [ngClass]="{'button-active': editMode()}"
        (click)="toggleEditMode()">
        Edit
      </button>
    </div>
  </div>

  <app-goal-progress-bar
    *ngIf="!goal.isFunded()"
    [balance]="goal.current"
    [available]="loanableBalance"
    [target]="goal.target">
  </app-goal-progress-bar>

  <p *ngIf="goalImpeded()">
    Note: This goal has reached its target, but this budget does not have sufficient saved balance to purchase it.
  </p>

  <div
    *ngIf="archiveMode()">
    Are you sure?
    <button
      class="button-negative"
      (click)="archive()">
      Archive
    </button>
    <button
      (click)="resetMode()">
      Cancel
    </button>
  </div>

  <app-edit-goal-item
    *ngIf="editMode()"
    [goal]="goal"
    (close)="resetMode()">
  </app-edit-goal-item>

  <app-purchase-goal-item
    *ngIf="purchaseMode()"
    [goal]="goal"
    (close)="resetMode()">
  </app-purchase-goal-item>
</div>
