


<div class="goal-list">
  <div class="goal-list-header">
    <div
      class="grow align-left"
      *ngIf="!createMode">
      <button class="header-2" (click)="createMode = !createMode">Add goal +</button>
    </div>
    <div class="align-right">
      Saved: {{(budget.totalBalance() / 100) | currency}}
      <button *ngIf="!showDispersement" (click)="showDispersement=true">
        Add
      </button>

      <div *ngIf="showDispersement" class="inline">
        <span class="dollar-input" >
          <input type="number" #disperseAmount>
        </span>
        <button (click)="disperse(disperseAmount.value); disperseAmount.value = ''; showDispersement=false">
          Distribute
        </button>
        <button (click)="showDispersement=false">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <ul>
    <li *ngIf="createMode">
      <div class="goal-item-row">
        <div class="goal-insert">
            <hr>
        </div>
        <div class="goal-item">
          <h2>New Goal</h2>
          <mat-progress-bar
            [value]="0">
          </mat-progress-bar>
          <app-edit-goal-item
            [budget]="budget"
            (close)="createMode = false">
          </app-edit-goal-item>
        </div>
      </div>
    </li>
    <li *ngFor="let goal of budget.goals">
      <div class="goal-item-row">
        <app-goal-list-item
          class="grow"
          [goal]="goal">
        </app-goal-list-item>
      </div>
    </li>
  </ul>
</div>
