
<input type="number" #disperseAmount>
<button (click)="disperse(disperseAmount.value); disperseAmount.value = ''">
  Disperse
</button>

<div class="goal-list">
  <div class="new-goal-item-create">
    <button (click)="createMode = !createMode">Add goal</button>
  </div>

  <ul>
    <li *ngIf="createMode">
      <div class="goal-item">
        <app-edit-goal-item
          (close)="createMode = false">
        </app-edit-goal-item>
      </div>
    </li>
    <li *ngFor="let goal of goals.visible() | async">
      <app-goal-list-item [goal]="goal"></app-goal-list-item>
    </li>
  </ul>
</div>
