/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.inline {
  display: inline-block;
}

.goal-list li {
  list-style: none;
}

.goal-item {
  width: 35rem;
  border-radius: 0.7rem;
  border: 1px solid #333;
  padding: 0.3rem 0.3rem 1.3rem 0.3rem;
  margin-bottom: 2rem;
}

.goal-item-complete {
  background-color: #f0fff0;
}
