/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80%;
  background-color: #eee;
}

h1, h2 {
  margin: 0;
}

.inline {
  display: inline-block;
}

.inherit {
  display: inherit;
}

.link {
  cursor: pointer;
}

.header {
  font-size: 2rem;
  font-weight: bold;
}

.header-2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.button-negative {
  background-color: #f76f6f;
}

.button-active {
  background-color: #5454e7;
  color: #f0f0f0;
}

.container {
  min-height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.navbar {
}

.content {
  flex-grow: 1;
  height: 100%;
}

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  flex-grow: 1;
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.goal-insert {
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
}

.budget-display {
  width: 35rem;
  padding: 0.5rem;
}

ul.budget-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.budget-list li {
  list-style: none;
}

.goal-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  bottom: 0px;
  overflow-y: scroll;
}

.goal-list li {
  list-style: none;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}

.goal-item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.goal-item {
  border-radius: 0.7rem;
  border: 1px solid #333;
  padding: 0.3rem;
  width: 100%;
  flex-grow: 1;
}

.goal-item-funded {
  background-color: #fff48c;
}

.goal-item-overdrawn {
  background-color: #fcbeb6;
}

.goal-item-affordable {
  background-color: #e0dff0;
}

.goal-item.goal-item-funded.goal-item-complete {
  background-color: #a1fda1;
  color: #707070;
}

.goal-item-affordable.goal-item-funded {
  background-color: #79ff79;
}

.budget-column:not(:first-child) {
  border-left: 1px solid #b0b0b0;
}

.create-budget-column {
  min-width: 15rem;
  padding-top: 4rem;
  text-align: center;
  background-color: #fafafa;
  flex-grow: 1;
}
