/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inline {
  display: inline-block;
}

.link {
  cursor: pointer;
}

.button-negative {
  background-color: #f76f6f;
}

.goal-insert {
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
}

.goal-list {
  width: 35rem;
  padding: 0.5rem;
}

.goal-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.goal-list li {
  list-style: none;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}

.goal-item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.goal-item {
  border-radius: 0.7rem;
  border: 1px solid #333;
  padding: 0.3rem;
  width: 100%;
  flex-grow: 1;
}

.goal-item-complete {
  background-color: #fff48c;
}

.goal-item-overdrawn {
  background-color: #fcbeb6;
}

.goal-item-affordable {
  background-color: #e0dff0;
}

.goal-item-affordable.goal-item-complete {
  background-color: #79ff79;
}
